body {
    margin: 0 0 3em 0;
    padding: 0;
}

header {
	padding: 0 0 0 0;
	text-align: center;
	background-image: url("../images/tchelinux.png");
	background-color: #000;
	background-repeat: no-repeat;
    background-size: auto 100%;
	background-position: right bottom;
    box-shadow: 10px 10px 250px 100px #222 inset;
    min-height: 250px;
}

a, a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none;
}

.tagline, .logo-link, .logo-link:hover {
    color: #fff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-weight: bold;
}

.logo-link {
    font-size: 64pt;
}
@media (max-width: 525px) {
    .logo-link {
        font-size: 48pt;
    }
}

h1 {
    padding-top: 64px;
}

#validar {
    display: none;
}

#resultado {
    padding: 5px;
    border: #222 1px solid;
    border-radius: 10px;
    float: right;
    margin: -16.5em 5em 0 0;
    width: 300px;
    display: none;
}
@media (max-width: 1000px) {
    #resultado {
        float: none;
        margin: 2em auto 0 auto;
    }
}

#resultado .container {
    padding: 0;
    margin: 0;
    width: 300px;
}
